In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import seaborn as sns

In [16]:
sample = pd.read_feather("../preprocessed_data/sample.feather")

In [17]:
from datetime import datetime
time_hr = []
for dt in sample['tpep_pickup_datetime']:
    time_hr.append(str(dt)[11:13])

sample['time_hr'] = time_hr
sample

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,...,total_amount,date,holiday,PRCP,SNOW,SNWD,TAVG,Extrem,weekday,time_hr
0,2018-03-14 22:52:13,2018-03-14 22:55:20,2,0.70,164,170,2,4.5,0.5,0.5,...,5.80,2018-03-14,False,0.01,0.0,0.0,2.222222,True,0.0,22
1,2018-02-06 09:53:25,2018-02-06 10:05:49,1,1.97,239,236,1,10.0,0.0,0.5,...,13.50,2018-02-06,False,0.00,0.0,0.0,-0.277778,False,0.0,09
2,2018-02-22 13:05:15,2018-02-22 13:12:47,1,1.10,237,262,1,7.0,0.0,0.5,...,9.35,2018-02-22,False,0.17,0.0,0.0,8.888889,True,0.0,13
3,2018-02-08 09:22:02,2018-02-08 09:43:31,4,5.54,170,261,1,21.0,0.0,0.5,...,26.16,2018-02-08,False,0.00,0.0,0.0,-1.666667,False,0.0,09
4,2018-03-21 08:30:30,2018-03-21 08:44:51,1,6.00,137,168,1,18.0,0.0,0.5,...,19.80,2018-03-21,False,0.99,8.2,0.0,1.666667,True,0.0,08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7096482,2018-08-25 10:10:14,2018-08-25 10:23:03,1,2.23,168,263,1,10.5,0.0,0.5,...,13.56,2018-08-25,False,0.00,0.0,0.0,23.333333,False,1.0,10
7096483,2018-07-12 21:55:11,2018-07-12 22:26:03,1,7.60,114,74,1,27.0,0.5,0.5,...,30.30,2018-07-12,False,0.71,0.0,0.0,23.333333,True,0.0,21
7096484,2018-08-10 05:22:13,2018-08-10 05:28:46,2,1.10,100,164,2,6.5,0.5,0.5,...,7.80,2018-08-10,False,0.00,0.0,0.0,26.111111,False,0.0,05
7096485,2018-07-07 23:50:53,2018-07-07 23:56:27,1,1.20,162,107,1,6.5,0.5,0.5,...,9.20,2018-07-07,False,0.00,0.0,0.0,21.111111,False,1.0,23
7096486,2018-09-21 18:16:14,2018-09-21 18:41:44,1,3.20,263,137,1,17.5,1.0,0.5,...,23.15,2018-09-21,False,0.00,0.0,0.0,20.833333,False,0.0,18

In [18]:
sample=sample.drop(['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'payment_type', 'extra', 'mta_tax'],axis=1)

In [20]:
sample['tolls_amount']= (sample['tolls_amount'] > 0)
sample['PRCP']= (sample['PRCP'] > 0)
sample['SNOW']= (sample['SNOW'] > 0)
sample['SNWD']= (sample['SNWD'] > 0)



sample

,passenger_count,trip_distance,PULocationID,DOLocationID,fare_amount,tip_amount,tolls_amount,total_amount,date,holiday,PRCP,SNOW,SNWD,TAVG,Extrem,weekday,time_hr
0,2,0.70,164,170,4.5,0.00,False,5.80,2018-03-14,False,True,False,False,2.222222,True,0.0,22
1,1,1.97,239,236,10.0,2.70,False,13.50,2018-02-06,False,False,False,False,-0.277778,False,0.0,09
2,1,1.10,237,262,7.0,1.55,False,9.35,2018-02-22,False,True,False,False,8.888889,True,0.0,13
3,4,5.54,170,261,21.0,4.36,False,26.16,2018-02-08,False,False,False,False,-1.666667,False,0.0,09
4,1,6.00,137,168,18.0,1.00,False,19.80,2018-03-21,False,True,True,False,1.666667,True,0.0,08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7096482,1,2.23,168,263,10.5,2.26,False,13.56,2018-08-25,False,False,False,False,23.333333,False,1.0,10
7096483,1,7.60,114,74,27.0,2.00,False,30.30,2018-07-12,False,True,False,False,23.333333,True,0.0,21
7096484,2,1.10,100,164,6.5,0.00,False,7.80,2018-08-10,False,False,False,False,26.111111,False,0.0,05
7096485,1,1.20,162,107,6.5,1.40,False,9.20,2018-07-07,False,False,False,False,21.111111,False,1.0,23
7096486,1,3.20,263,137,17.5,3.85,False,23.15,2018-09-21,False,False,False,False,20.833333,False,0.0,18

In [22]:
sample['weekday']= (sample['weekday'] == 0.0)
sample

,passenger_count,trip_distance,PULocationID,DOLocationID,fare_amount,tip_amount,tolls_amount,total_amount,date,holiday,PRCP,SNOW,SNWD,TAVG,Extrem,weekday,time_hr
0,2,0.70,164,170,4.5,0.00,False,5.80,2018-03-14,False,True,False,False,2.222222,True,True,22
1,1,1.97,239,236,10.0,2.70,False,13.50,2018-02-06,False,False,False,False,-0.277778,False,True,09
2,1,1.10,237,262,7.0,1.55,False,9.35,2018-02-22,False,True,False,False,8.888889,True,True,13
3,4,5.54,170,261,21.0,4.36,False,26.16,2018-02-08,False,False,False,False,-1.666667,False,True,09
4,1,6.00,137,168,18.0,1.00,False,19.80,2018-03-21,False,True,True,False,1.666667,True,True,08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7096482,1,2.23,168,263,10.5,2.26,False,13.56,2018-08-25,False,False,False,False,23.333333,False,False,10
7096483,1,7.60,114,74,27.0,2.00,False,30.30,2018-07-12,False,True,False,False,23.333333,True,True,21
7096484,2,1.10,100,164,6.5,0.00,False,7.80,2018-08-10,False,False,False,False,26.111111,False,True,05
7096485,1,1.20,162,107,6.5,1.40,False,9.20,2018-07-07,False,False,False,False,21.111111,False,False,23
7096486,1,3.20,263,137,17.5,3.85,False,23.15,2018-09-21,False,False,False,False,20.833333,False,True,18

### check point

In [25]:
sample.to_feather("../preprocessed_data/model_sample.feather")