In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import seaborn as sns

In [9]:
tips_sample = pd.read_feather("../preprocessed_data/tips_sample.feather")
tips_sample = tips_sample.drop(['index'], axis=1)

In [10]:
tips_sample

,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,tip_amount,tolls_amount,total_amount,date,holiday,PRCP,SNOW,SNWD,TAVG,Extrem,weekday,time_hr
0,1,1.97,239,236,1,10.0,2.70,False,13.50,2018-02-06,False,False,False,False,-0.277778,False,True,09
1,1,1.10,237,262,1,7.0,1.55,False,9.35,2018-02-22,False,True,False,False,8.888889,True,True,13
2,4,5.54,170,261,1,21.0,4.36,False,26.16,2018-02-08,False,False,False,False,-1.666667,False,True,09
3,1,6.00,137,168,1,18.0,1.00,False,19.80,2018-03-21,False,True,True,False,1.666667,True,True,08
4,1,1.70,161,236,1,7.0,1.65,False,9.95,2018-01-31,False,False,False,False,-3.611111,True,True,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4914228,1,2.00,236,143,1,11.0,2.35,False,14.15,2018-07-30,False,True,False,False,22.777778,True,True,13
4914229,1,2.23,168,263,1,10.5,2.26,False,13.56,2018-08-25,False,False,False,False,23.333333,False,False,10
4914230,1,7.60,114,74,1,27.0,2.00,False,30.30,2018-07-12,False,True,False,False,23.333333,True,True,21
4914231,1,1.20,162,107,1,6.5,1.40,False,9.20,2018-07-07,False,False,False,False,21.111111,False,False,23
4914232,1,3.20,263,137,1,17.5,3.85,False,23.15,2018-09-21,False,False,False,False,20.833333,False,True,18

### how much tips will be given in each trip